#bodyTag {
    background: linear-gradient(rgb(204, 232, 255) 0%, rgb(232, 214, 255) 100%);
}

#mathQuiz {
    color: lightskyblue;
    font-family: fantasy;
    font-size: 70px;
}

#firstNumber, #secondNumber {
    color: lightskyblue;
    font-family: fantasy;
    font-size: 20px;
}

#checkAnswer, #sendButton {
    border-radius: 4px;
    color: rgb(255, 255, 255);
    width: 70px;
    font-family: fantasy;
    font-size: 20px;
    text-align: center;
}

#answer, #firstNumberInput, #secondNumberInput {
    border-radius: 4px;
    color: lightskyblue;
    font-size: 14px;
}

#output {
    background:rgb(232, 214, 255);
    border-radius: 4px;
    border-top: 14px solid #ffffff;
    padding: 14px;
    float: none;
    text-align: left;
}